<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Music::Palette</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- Styles -->
    <link type="text/css" href="../static/css/shape.css" rel="stylesheet">
    <link type="text/scss" href="../static/css/shape.scss" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
    <script defer src=https://cdn.JsDelivr.net/npm/p5></script>
    <link rel="stylesheet" href="../static/node_modules/subjx/dist/style/subjx.css" />

</head>

<body>
    <script>
        function changePosition(geometry) {
            let randomNumber = 0;
            randomNumber = Math.floor(Math.random() * 500) + 1;
            geometry.style.top = String(randomNumber) + 'px';

            randomNumber = Math.floor(Math.random() * 500) + 1;
            geometry.style.left = String(randomNumber) + 'px';
        }

        // 도형의 종류별로 class 를 같게 해서 canvas 에 추가
        function createCircle() {
            const newCircle= document.createElement('div');
            newCircle.style.width = '60px';
            newCircle.style.height = '60px';
            newCircle.style.backgroundColor = 'rgb(191, 191, 191)'; // color - grey
            newCircle.style.clipPath = 'circle(50% at 50% 50%)' // shape

            changePosition(newCircle); // change position in random
            newCircle.setAttribute("class", "circleDraggable"); // class name
            // newCircle.setAttribute("id", "circle"); // id name
            document.getElementById('canvas').appendChild(newCircle);
        }
    </script>

    <section class="shapeContainer">
      <button type="button" class="btn btn-primary btn-square-md" id="btn-square"></button>
      <button type="button" class="btn btn-primary btn-circle-md" id="btn-circle" onclick='createCircle()'></button>
      <button type="button" class="btn btn-primary btn-triangle-md" id="btn-triangle"></button>
      <button type="button" class="btn btn-primary btn-decagon-md" id="btn-decagon"></button>
      <button type="button" class="btn btn-primary btn-star-md" id="btn-star"></button>
    </section>
    
    <section class="thisCanvas" id="canvas">
      <!-- <div id="rectangle" class='draggable' style='top:150px; left:100px;'></div> -->
      <!-- <div id="circle" class='circleDraggable' style='top:150px; left:400px;'></div> -->
    </section>
    
    <!-- <div class="colorContainer">
      <div class="paletteBasic">
        <div class="color"><span>264653</span></div>
        <div class="color"><span>2A9D8F</span></div>
        <div class="color"><span>E9C46A</span></div>
        <div class="color"><span>F4A261</span></div>
        <div class="color"><span>E76F51</span></div>
      </div>
    </div> -->

    <!-- Javascript --> <!-- Have to use importmap to link NPM modules...-->
    <script type="importmap">
      {
          "imports": {
              "three": "../static/node_modules/three/build/three.module.js",
              "subjx": "../static/node_modules/subjx/dist/js/subjx.esm.js"
          }
      }
    </script>


    <!-- <script type="module" defer src="../static/js/canvas.js"></script> -->
    <script type="module" defer src="../static/js/subjx_interaction.js"></script>
    <script type="module" defer src="../static/js/buttonShapeClick.js"></script>
    <script type="module" defer src="../static/js/color.js"></script>
</body>
</html>
